.photo-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  margin: 92px auto 0;
}

@media screen and (max-width: 768px) {
  .photo-grid {
    margin: 88px auto 0;
  }
}

@media screen and (max-width: 550px) {
  .photo-grid {
    margin: 64px auto 0;
    gap: 12px;
  }
}
