.cover__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding-bottom: 245px;
  max-width: 360px;
  margin: 0;
  padding-top: 32px;
}

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    padding-bottom: 195px;
  }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    padding-bottom: 115px;
  }
}

@media screen and (max-width: 550px) {
  .cover__subtitle {
    padding-bottom: 33px;
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    padding-top: 16px;
  }
}
