.header__logo {
  padding: 28px 0 0 0;
  height: 52px;
  width: 176px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .header__logo {
    padding-top: 28px;
  }
}

@media screen and (max-width: 550px) {
  .header__logo {
    width: 142px;
    height: 42px;
    padding-top: 16px;
  }
}
