.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  text-decoration: none;
  color: var(--white);
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 550px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}
