.footer__links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 92px 0 24px 0;
}

@media screen and (max-width: 768px) {
  .footer__links {
    padding: 88px 0 0 0;
  }
}

@media screen and (max-width: 690px) {
  .footer__links {
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (max-width: 550px) {
  .footer__links {
    padding: 64px 0 0 0;
    gap: 32px;
  }
}
