.footer__links {
  display: flex;
  margin: 0;
  padding: 92px 0 24px 0;
  gap: 18px;
}

@media screen and (max-width: 768px) {
  .footer__links {
    padding-top: 88px;
  }
}

@media screen and (max-width: 690px) {
  .footer__links {
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (max-width: 550px) {
  .footer__links {
    padding-top: 64px;
    gap: 32px;
  }
}
