.place__link {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-decoration-line: underline;
  color: var(--white);
  transition: opacity 0.3s ease-in-out;
}

.place__link:hover {
  opacity: 0.8;
}
