@import url(../vendor/normalize.css);
@import url(../vendor/variable.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/content/content.css);
@import url(../blocks/content/__container/content__container.css);
@import url(../blocks/section/sections.css);
@import url(../blocks/section/_size/section_size_narrow.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__lang-links/header__lang-links.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);
@import url(../blocks/header/__lang-link/_active/header__lang-link_active.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
