.place {
  display: grid;
  grid-template-columns: minmax(460px, 1fr) minmax(min-content, max-content);
  grid-template-rows: minmax(min-content, max-content) minmax(460px, 1fr);
  grid-template-areas:
    "title subtitle"
    "image paragraph";
  row-gap: 48px;
  column-gap: 40px;
}

.place:first-of-type {
  margin-top: 92px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: minmax(440px, 1fr) minmax(min-content, max-content);
    grid-template-rows: minmax(min-content, max-content) minmax(440px, 1fr);
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: minmax(340px, 1fr) minmax(min-content, max-content);
    grid-template-rows: minmax(min-content, max-content) minmax(340px, 1fr);
    column-gap: 28px;
  }

  .place:first-of-type {
    margin-top: 88px;
  }
}

@media screen and (max-width: 690px) {
  .place {
    grid-template-columns: minmax(320px, 1fr) minmax(min-content, max-content);
    grid-template-rows: minmax(min-content, max-content) minmax(320px, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(min-content, max-content);
    grid-template-areas:
      "title"
      "subtitle"
      "image"
      "paragraph";
    row-gap: 32px;
    column-gap: 0px;
  }

  .place:first-of-type {
    margin-top: 64px;
  }
}

@media screen and (max-width: 320px) {
  .place:last-of-type {
    margin-bottom: 66px;
  }
}
