.header__lang-links {
  display: flex;
  gap: 18px;
  list-style: none;
  margin: 0;
  padding: 26px 48px 0 0;
}

@media screen and (max-width: 768px) {
  .header__lang-links {
    padding: 28px 0 0 0;
  }
}

@media screen and (max-width: 550px) {
  .header__lang-links {
    padding: 30px 0 0 0;
  }
}
